<h1>doctor</h1>
<%= @patient.doctors.each  do |doc| %>
 <%= link_to doc.name, doctor_path(doc)%>

 <%end%>
 <%= @patient.appointments.each do  |appt| %>
<%= appt.appointment_datetime.strftime("%B %d, %Y at %k:%M")%>
<% end %>