<h1> Appointment Show Page </h1> <br>

<h2><%= @appointment.appointment_datetime.strftime('%B %d, %Y at %R')%></h2>
<h2>Doctor: <%= link_to @appointment.doctor.name, @appointment.doctor %></h2>
<h2>Patient: <%= link_to @appointment.patient.name, @appointment.patient %></h2> 